<h1><%=@places["name"]%></h1>

<h3>entries</h3>

<ul>
  <li>Michael Scott</li>
  <li>Dwight Schrute</li>
</ul>

<p>
  <a href="/entries/new">New entry</a>
</p>

<p>
  <a href="/places/">Back to All Places</a>
</p>